
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family:   'Poppins';
  padding: 3rem;
}


.hero {
  max-width: 1200px;
  margin: auto;

}


.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.top-text {
  font-weight: 600;
  font-size: 1rem;
}

.logo-section {
  display: flex;
  flex-direction: column; */
  align-items: flex-end;
  gap: 3em; */
  margin-left: 50px;;
 
}

.logo {

  margin-top: 70px;
}
.logo img {
  margin-left:40px;

}

.since {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 250px;
  height: 70px;

  border: 1px solid white;
  border-radius: 999px;
  background-color: transparent;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  margin-left:40px;
}

.since p {
  margin: 0;
  white-space: nowrap;
  font-size: 20px;;
}

.since img {
  width: 40px;
     object-fit: contain;
}

.branding {
 display: flex;
  margin-top:-10px;
}

.branding h1 {
  font-size: 130px;
 letter-spacing: 7px;
 font-family: poppins;

}

.white {
  color: white;
}

.highlight {
  color: #f5c93b;
}
.footer-text {
  color: #f5c93b;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 15px;;
}
.hero-section {
  margin:60px;
  background: url('./images/Restaurant\ \(35\).png') no-repeat center center/cover;
  height: 100vh;
  width:1240px;
  position: relative;
  border:1px solid #4a473f;
}

  /* Navigation bar styles */
  .nav-bar {
    position: absolute;
    bottom: 28px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    background:#333;
    
   
    border-radius: 50px;
    width:850px;
    height:90px;
    justify-content: center;
    
      display: flex;
      align-items: center;
   
    
  }
  
  .nav-bar ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: white;
   
      padding: 10px 30px;
      font-size: 23px;
      font-weight: 400;
  
    border-radius: 30px;
    transition: 0.3s ease;
  }
  
  /* Active and hover states */
 
  
  .nav-bar a:hover {
    background:black;
    color:white;
  }
  .custom-divider {
    height: 10px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    max-width: 1220px;
    margin: 40px auto; /* Centering with spacing */
  }
  .story-content {
 
  
    max-width: 1150px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
   
  }
  
  .story-content h1 {
    font-size: 80px;
    text-align: center;
    
    color: white;
 
  }
  
  .story-content p {
    font-size: 1.3rem;
    line-height: 1.6;
    color:white;
    margin-left:-40px;
   
  }
  .location-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

  }.location-img{
    width:100%;
  }
  
  .location-img img {
    width: 490px;
    height: 430px;
    outline: 1px solid #444;
  
  }
  
  .location-content {
    max-width: 1000px;
  
    color:white;
  }
  
  .location-content h2 {
    font-size:50px;
   text-align: center;
  margin-top:40px;
  }
  
  .location-content p {
    font-size: 13px;
    line-height: 2.6;
    padding:30px;
  }
  .locate-section {
    padding: 30px;

  }
  
  .locate-container {
    display: flex;
    justify-content:center;
    align-items: center;

    gap: 70px;
  }
  
  .locate-content {
    /* flex: 1; */
    min-width: 600px;
    color: #000000;
  }
  
  .locate-content h2 {
    font-size:50px;
    text-align: center;
   margin-top: -80px;;
   color:white;
  }
  
  .locate-content p {
    font-size: 13px;
    line-height: 2.6;
    margin-left:30px;
  
  
    color:white;
  }
  
  .locate-img{
    width:100%;
  }
  
  .locate-img img {
    width: 490px;
    height: 430px;
    outline: 1px solid #444;
  
  }
 .manager-section {
    padding: 30px 20px;
 
  }
  
  .manager-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
    gap: 50px;
  }
  
  .manager-img {
    /* flex: 1 1 700px; */
    text-align: center;
  }
  
  .manager-img img {
    width: 600px;
    height: 700px;
  }
  
  .manager-content {
    flex: 1 1 450px;
    font-size: 1.3rem;
    color:white;
    line-height: 1.6;
    padding: 0px;
  
  
  }
 /* Manager1 Section Styles */
.manager1-section {

  padding: 0px;
}

.manager1-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.manager1-img img {
  width: 600px;
  height: 700px;

}

.manager1-content {
  flex: 1;
  min-width: 400px;
}

.manager1-content h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.manager1-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color:white;
 
  padding: 20px;
 
}
.chef-details{
  font-size:33px;;
  margin:30px;
}
   
.footer {
  background-color: #000;
  color: #d1d1d1;
  padding: 30px 40px 20px;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;

  gap: 100px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  max-width: 300px;
}

.footer-section h3 {
  color: white;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 500;
}

.slash {
  color: #ffc107;
  font-weight: bold;
  margin-right: 5px;
}

.footer-section p {
  font-size: 15px;
  line-height: 1.7;
  color: #d1d1d1;
}

.social-links {
  display: flex;
  gap: 30px;
  font-size: 15px;
  color: #fff;
  margin-top: 10px;
}

.footer-bottom {
  text-align: left;
  font-size: 13px;
  margin-top: 40px;
  color: #777;
}
.burger {
  display: flex;
  justify-content: flex-end;
}
hr {
  border: none;
  height: 2px;
  background-color:#777; /* or #fff for white, #FFD700 for gold */
  margin: 20px 0;
  opacity: 0.3; /* subtle look */
}
.chef-section {
   
  width: 1170px;
  margin: 20px;
  height: 98vh;
}
.chef-image {
  flex: 1;
  background: url('./images/Restaurant\ \(36\).png') no-repeat center center/cover;
}
.special-recipes {
  width:1150px;
 
}
.food-container {
width:1370px;
  gap:80px;
  margin-left:-70px;
}
.location1-container {
margin:10px;
width:1250px;

}
.location1-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

}

.location1-img img {
  width: 700px;
  height: auto;
  outline: 1px solid #444;

}

.location1-content {
  max-width: 1000px;

  color:white;
}

.location1-content h2 {
  font-size:50px;
 text-align: center;
margin-top:60px;
}

.location1-content p {
  padding-left:70px;
  font-size: 20px;;
  line-height: 2.3;
}

.location1-img img {
  width: 680px;
  margin-left:10px; 
}


.locate1-container {
  display: flex;
  justify-content:space-between;
  align-items: center;

  gap: 70px;
}

.locate1-content {
  /* flex: 1; */
  min-width:500px;

}
.locate1-content h2 {
 margin-left: 80px;
 font-size:55px;
}
.locate1-content p {
  padding-left:80px;
  font-size: 20px;;
  line-height: 2.3;
}
.locate1-img {
  flex: 1;
  min-width: 680px;
}
@media (min-width: 320px) and (max-width: 480px) {
  body{
    overflow-x: hidden;
  }

  .hero {
    width: 1200px;
    margin: auto;
 
  }
  .top-row {
    display: flex;
  
    margin-bottom: 3rem;
  }   
  .top-text {
    font-weight: 300;
    font-size: 20px;
  }
  
  .since {

    margin-left:30px;
  }

  .hero-section {
    margin:30px;
    width:1150px;
    height:100vh;

  }

  
 
  .branding h1 {
    font-size: 3rem; 
    letter-spacing: 2px;
  }

  .logo img {
    width: 140px; 
  }

  .since {
    width: 190px;
    height: 52px;
    font-size: 0.95rem;
  }

  .since p {
    font-size: 15px;
  }

  .since img {
    width: 28px;
  }

  .footer-text {
    font-size: 0.85rem;
  }
  .custom-divider {
 
    display: none;
  }
  .footer-container {
  
    gap: 60px;
  }
  .burger {
   
display: none;
  }
  hr{
    width:1100px;
  }
  .footer-bottom {
    width:400px;
  }

  .story-content h1 {
    width:900px;
  }

  .story-content p {
    width:1200px;
    margin: 40px;;
    
  }
 
  .location-container {
 margin:10px;
 width:1350px;

  }
  
  .location-img img {
    width: 680px;
    margin-left:10px; 
  }

  
  .locate-container {
    display: flex;
    justify-content:center;
    align-items: center;
margin:50px;
width:150px;
    gap: 70px;
  }
  
  .locate-content {
    /* flex: 1; */
    min-width:1800px;
  
  }
  .locate-content h2 {
   margin-left: 790px;
  }
  .locate-content p {
    padding-left:780px;
    margin-left: 390px;;
  }
  .locate-img img {
  margin-left: 880px;;
    width:500px;
    height:400px;
  }
  .chef-details{
  
    width:800px;
  }
  .location1-content {
    max-width: 1200px;
  
    color:white;
  }
  .location1-container {
    margin:10px;
    width:1350px;
    
    }
  
}

@media (min-width: 481px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .hero {
    width: 1200px;
    margin: auto;
 
  }
  .top-row {
    display: flex;
  
    margin-bottom: 3rem;
  }   
  .top-text {
    font-weight: 300;
    margin-left: 70px;
    font-size: 20px;
  }
  
  .since {

    margin-left:30px;
  }

  .hero-section {
    margin:10px;
    width:1250px;
    height:100vh;

  }
  
 
  .branding h1 {
    font-size: 3rem; 
    letter-spacing: 2px;
  }

  .logo img {
    width: 150px; 
  }

  .since {
    width: 190px;
    height: 52px;
    font-size: 0.95rem;
  }

  .since p {
    font-size: 15px;
  }

  .since img {
    width: 28px;
  }

  .footer-text {
    font-size: 0.85rem;
  }
  .custom-divider {
 
 display: none;

  }
  .footer-container {
  
    gap: 80px;
  }
  .burger {
display: none;
  }
  hr{
    width:1300px;
  }
  .footer-bottom {
    width:400px;
  }
  
  .story-content h1 {
    width:900px;
  }

  .story-content p {
    width:1200px;
    margin: 40px;;
    
  }

  .location-container {
 margin:10px;
 width:1250px;

  }
  
  .location-img img {
    width: 680px;
    margin-left:10px; 
  }

  
  .locate-container {
    display: flex;
    justify-content:center;
    align-items: center;
margin:50px;
    gap: 70px;
  }
  
  .locate-content {
    /* flex: 1; */
    min-width:1300px;
  
  }
  .locate-content h2 {
   margin-left: 790px;
  }
  .locate-content p {
    padding-left:700px;
    margin-left: 0px;;
  }
  .locate-img img {
  margin-left: 700px;;
    width:550px;
  }
  .chef-details{
  margin:30px;
    width:800px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {

  body {
    overflow-x: hidden;
  }
  .hero {
    width: 1300px;
    margin: auto;
 
  }
  .top-row {
    display: flex;
  
    margin-bottom: 3rem;
  }   
  .top-text {
    font-weight: 300;
    margin-left: 70px;
    font-size: 20px;
  }
  
  .since {

    margin-left:30px;
  }

  .hero-section {
    margin:10px;
    width:1360px;
    height:100vh;

  }
  
 
  .branding h1 {
    font-size: 3rem; 
    letter-spacing: 2px;
  }

  .logo img {
    width: 150px; 
  }

  .since {
    width: 190px;
    height: 52px;
    font-size: 0.95rem;
  }

  .since p {
    font-size: 15px;
  }

  .since img {
    width: 28px;
  }

  .footer-text {
    font-size: 0.85rem;
  }
  .custom-divider {
 
 display: none;
 

  }
  .footer-container {
  
    gap: 80px;
  }
  .burger {
display: none;
  }
  hr{
    width:1300px;
  }
  .footer-bottom {
    width:400px;
  }
  .location-container {
    margin:10px;
    width:1250px;
   
     }
     
     .location-img img {
       width: 680px;
       margin-left:10px; 
     }
   
     
     .locate-container {
       display: flex;
       justify-content:center;
       align-items: center;
   margin:50px;
       gap: 70px;
     }
     
     .locate-content {
       /* flex: 1; */
       min-width:1300px;
     
     }
     .locate-content h2 {
      margin-left: 790px;
     }
     .locate-content p {
       padding-left:570px;
       margin-left: 0px;;
     }
     .locate-img img {
     margin-left: 700px;;
       width:550px;
     }
     .chef-details{
     margin:30px;
       width:800px;
     }
     .story-content h1 {
      width:1100px;
    }
  
    .story-content p {
      width:1350px;
      margin: 30px;;
      
    }
    }
